.mark-as-paid {
  background-color: var(--clr-mark-as-paid);
  color: var(--clr-white);
}

.mark-as-paid:hover {
  background-color: var(--clr-mark-as-paid-hover);
}

.delete {
  background-color: var(--clr-delete);
  color: var(--clr-white);
}

.delete:hover {
  background-color: var(--clr-delete-hover);
}

.edit {
  background-color: var(--clr-edit);
  color: var(--clr-edit-text);
}

.edit:hover {
  background-color: var(--clr-edit-hover);
}
