.filter-drop-down {
  position: relative;
  margin-left: auto;
  margin-right: 1.8rem;
  align-self: stretch;
  align-items: center;
}

.filter-drop-down-menu {
  gap: 1.2rem;
  display: flex;
  align-self: center;
}

.filter-drop-down-icon {
  width: 8.46px;
  object-fit: contain;
}

.filter-drop-down-selection {
  position: absolute;
  top: 100%;
  left: -4.5rem;
  flex-direction: column;
  gap: 1.7rem;
  padding: 2.1rem 7.5rem 2.7rem 3.5rem;
  background: var(--clr-drop-down-bg);
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(var(--clr-shadow), 0.2);
  z-index: 2;
}

@media (min-width: 560px) {
  .filter-drop-down {
    margin-right: 4rem;
  }

  .filter-drop-down-menu {
    gap: 2.5rem;
  }
}

@media (min-width: 720px) {
  .filter-drop-down-menu {
    gap: 1.6rem;
  }
}
