.action-bar {
  align-items: center;
}

.action-bar-title-text {
  margin-bottom: 0.4rem;
}

@media (min-width: 560px) {
  .action-bar-title-text {
    margin-bottom: 0.8rem;
  }

  .action-bar-btn {
    align-items: center;
    gap: 1.6em;
    padding: 0.8em;
  }

  .action-bar-btn-text {
    padding-right: 1.5em;
  }
}
