.invoice-items-cantainer {
  margin-top: 3.2rem;
  margin-bottom: 10.5rem;
  flex-direction: column;
  gap: 1.6rem;
}

@media (min-width: 560px) {
  .invoice-items-cantainer {
    margin-top: 5.6rem;
    margin-bottom: 17.3rem;
  }
}
@media (min-width: 720px) {
  .invoice-items-cantainer {
    margin-top: 6.5rem;
    margin-bottom: 26.8rem;
  }
}
