.invoices {
  height: 100%;
  padding-bottom: 10.5rem;
}
.invoice-items-cantainer {
  margin-top: 3.2rem;
  flex-direction: column;
  gap: 1.6rem;
}

@media (min-width: 560px) {
  .invoices {
    padding-bottom: 17.3rem;
  }
  .invoice-items-cantainer {
    margin-top: 5.6rem;
  }
}

@media (min-width: 720px) {
  .invoices {
    padding-bottom: 26.8rem;
  }

  .invoice-items-cantainer {
    margin-top: 6.5rem;
  }
}
