.action-bar-btn {
  align-items: center;
  gap: 0.8rem;
  padding: 0.6em;
  background: var(--clr-purple);
  cursor: pointer;
  transition: background 300ms ease-in-out;
}

.action-bar-btn:hover {
  background: var(--clr-lg-purple);
}

.action-bar-btn-img {
  padding: 1.1em;
  background: #fff;
  border-radius: 50%;
  transition: transform 1ms ease-in-out;
}

.action-bar-btn[data-add="true"] > .action-bar-btn-img {
  transform: rotate(90deg);
  transition: transform 300ms ease-in-out;
}

.action-bar-btn-text {
  padding-right: 1.4em;
  color: #fff;
}

@media (min-width: 560px) {
  .action-bar-btn {
    align-items: center;
    gap: 1.6em;
    padding: 0.8em;
  }

  .action-bar-btn-text {
    padding-right: 1.5em;
  }
}
